/* Styles go here */


#canvasList{
    background-image:url("background");
    border:1px solid blue;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
#canvas{
    background-image:url("background");
    border:1px solid blue;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
#canvasEdit{
    background-image:url("background");
    border:1px solid blue;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}